In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 15.4 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=fdc4bdfeba2edf0df6f016a71d75120dfacae2354cb9a48c6e6200d3fb7550f0
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

#dataset https://www.kaggle.com/datasets/thedevastator/fatal-traffic-accidents-in-arizona-2012-2016?select=vehicle.csv

In [ ]:
df = spark.read.format("csv")\
.option("header", "True")\
.option("inferSchema","True")\
.load("/content/drive/MyDrive/Datalake/landing/classic_rock_playlist.csv")

In [ ]:
arquivo = "/content/drive/MyDrive/Datalake/landing/classic_rock_playlist.csv"

In [ ]:
df = spark.read.format("csv")\
.option("header", "True")\
.option("inferSchema","True")\
.csv(arquivo)

In [ ]:
df.printSchema()

root
 |-- Artist: string (nullable = true)
 |-- Music: string (nullable = true)
 |-- Album: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Genre: string (nullable = true)
 |-- 2022: integer (nullable = true)
 |-- 2021: integer (nullable = true)
 |-- 2020: integer (nullable = true)
 |-- 2019: integer (nullable = true)
 |-- 2018: integer (nullable = true)
 |-- 2017: integer (nullable = true)
 |-- 2016: integer (nullable = true)
 |-- 2015: integer (nullable = true)

In [ ]:
df.show(10)

+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|          Artist|               Music|               Album|Year|           Genre|2022|2021|2020|2019|2018|2017|2016|2015|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|The Black Crowes|              Remedy|The Southern Harm...|1992|   Southern Rock| 500|null| 324| 290| 132|  64|  36|null|
|            Asia| Only Time Will Tell|                Asia|1982|Progressive Rock| 499|null|null|null|null|null|null|null|
| Collective Soul|               Shine|Hints Allegations...|1993|Alternative Rock| 498|null|null| 419| 485| 403|null|null|
|      Billy Idol|       Sweet Sixteen|      Whiplash Smile|1986|            Rock| 497|null|null|null|null|null|null|null|
| Collective Soul|            December|     Collective Soul|1995|Alternative Rock| 496|null|null|null| 431| 443|null|null|
|     Duran Duran|       Save a prayer|                 Rio|1982|        Synthpop| 495| 466|null| 381| 292|null| 488|null|
|     Men at Work|          Down Under|   Business as Usual|1981|        New Wave| 494|null| 190| 172| 108| 451| 406| 167|
|    Brian Setzer|    Summertime Blues| La Bamba soundtrack|1987|   Rock and Roll| 493|null|null|null|null|null|null|null|
|    Simple Minds|Dont You Forget A...|The Breakfast Clu...|1985|        Pop Rock| 492|null|null| 293| 288| 437|null|null|
|Blue Oyster Cult|       Joan Crawford|Fire of Unknown O...|1981|       Hard Rock| 491|null| 174| 209|null| 311| 403|null|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
only showing top 10 rows

In [ ]:
display(df.head(10))

[Row(Artist='The Black Crowes', Music='Remedy', Album='The Southern Harmony and Musical Companion', Year=1992, Genre='Southern Rock', 2022=500, 2021=None, 2020=324, 2019=290, 2018=132, 2017=64, 2016=36, 2015=None),
 Row(Artist='Asia', Music='Only Time Will Tell', Album='Asia', Year=1982, Genre='Progressive Rock', 2022=499, 2021=None, 2020=None, 2019=None, 2018=None, 2017=None, 2016=None, 2015=None),
 Row(Artist='Collective Soul', Music='Shine', Album='Hints Allegations and Things Left Unsaid', Year=1993, Genre='Alternative Rock', 2022=498, 2021=None, 2020=None, 2019=419, 2018=485, 2017=403, 2016=None, 2015=None),
 Row(Artist='Billy Idol', Music='Sweet Sixteen', Album='Whiplash Smile', Year=1986, Genre='Rock', 2022=497, 2021=None, 2020=None, 2019=None, 2018=None, 2017=None, 2016=None, 2015=None),
 Row(Artist='Collective Soul', Music='December', Album='Collective Soul', Year=1995, Genre='Alternative Rock', 2022=496, 2021=None, 2020=None, 2019=None, 2018=431, 2017=443, 2016=None, 2015=None),
 Row(Artist='Duran Duran', Music='Save a prayer', Album='Rio', Year=1982, Genre='Synthpop', 2022=495, 2021=466, 2020=None, 2019=381, 2018=292, 2017=None, 2016=488, 2015=None),
 Row(Artist='Men at Work', Music='Down Under', Album='Business as Usual', Year=1981, Genre='New Wave', 2022=494, 2021=None, 2020=190, 2019=172, 2018=108, 2017=451, 2016=406, 2015=167),
 Row(Artist='Brian Setzer', Music='Summertime Blues', Album='La Bamba soundtrack', Year=1987, Genre='Rock and Roll', 2022=493, 2021=None, 2020=None, 2019=None, 2018=None, 2017=None, 2016=None, 2015=None),
 Row(Artist='Simple Minds', Music='Dont You Forget About Me', Album='The Breakfast Club Original Motion Picture Soundtrack', Year=1985, Genre='Pop Rock', 2022=492, 2021=None, 2020=None, 2019=293, 2018=288, 2017=437, 2016=None, 2015=None),
 Row(Artist='Blue Oyster Cult', Music='Joan Crawford', Album='Fire of Unknown Origin', Year=1981, Genre='Hard Rock', 2022=491, 2021=None, 2020=174, 2019=209, 2018=None, 2017=311, 2016=403, 2015=None)]

#criacao de schema

In [ ]:

from pyspark.sql.types import StructType, StructField, IntegerType, DateType, StringType

schema_df = StructType([
    StructField("Year", StringType())
])

In [ ]:
type(schema_df)

pyspark.sql.types.StructType

In [ ]:
df2 = spark.read.format("csv")\
.option("header", "True")\
.option("schema_df","True")\
.csv(arquivo)

In [ ]:
df2.printSchema()

root
 |-- Artist: string (nullable = true)
 |-- Music: string (nullable = true)
 |-- Album: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- 2022: string (nullable = true)
 |-- 2021: string (nullable = true)
 |-- 2020: string (nullable = true)
 |-- 2019: string (nullable = true)
 |-- 2018: string (nullable = true)
 |-- 2017: string (nullable = true)
 |-- 2016: string (nullable = true)
 |-- 2015: string (nullable = true)

In [ ]:
df2.show(10)

+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|          Artist|               Music|               Album|Year|           Genre|2022|2021|2020|2019|2018|2017|2016|2015|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|The Black Crowes|              Remedy|The Southern Harm...|1992|   Southern Rock| 500|null| 324| 290| 132|  64|  36|null|
|            Asia| Only Time Will Tell|                Asia|1982|Progressive Rock| 499|null|null|null|null|null|null|null|
| Collective Soul|               Shine|Hints Allegations...|1993|Alternative Rock| 498|null|null| 419| 485| 403|null|null|
|      Billy Idol|       Sweet Sixteen|      Whiplash Smile|1986|            Rock| 497|null|null|null|null|null|null|null|
| Collective Soul|            December|     Collective Soul|1995|Alternative Rock| 496|null|null|null| 431| 443|null|null|
|     Duran Duran|       Save a prayer|                 Rio|1982|        Synthpop| 495| 466|null| 381| 292|null| 488|null|
|     Men at Work|          Down Under|   Business as Usual|1981|        New Wave| 494|null| 190| 172| 108| 451| 406| 167|
|    Brian Setzer|    Summertime Blues| La Bamba soundtrack|1987|   Rock and Roll| 493|null|null|null|null|null|null|null|
|    Simple Minds|Dont You Forget A...|The Breakfast Clu...|1985|        Pop Rock| 492|null|null| 293| 288| 437|null|null|
|Blue Oyster Cult|       Joan Crawford|Fire of Unknown O...|1981|       Hard Rock| 491|null| 174| 209|null| 311| 403|null|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
only showing top 10 rows

In [ ]:
#array
df.take(5)

[Row(Artist='The Black Crowes', Music='Remedy', Album='The Southern Harmony and Musical Companion', Year=1992, Genre='Southern Rock', 2022=500, 2021=None, 2020=324, 2019=290, 2018=132, 2017=64, 2016=36, 2015=None),
 Row(Artist='Asia', Music='Only Time Will Tell', Album='Asia', Year=1982, Genre='Progressive Rock', 2022=499, 2021=None, 2020=None, 2019=None, 2018=None, 2017=None, 2016=None, 2015=None),
 Row(Artist='Collective Soul', Music='Shine', Album='Hints Allegations and Things Left Unsaid', Year=1993, Genre='Alternative Rock', 2022=498, 2021=None, 2020=None, 2019=419, 2018=485, 2017=403, 2016=None, 2015=None),
 Row(Artist='Billy Idol', Music='Sweet Sixteen', Album='Whiplash Smile', Year=1986, Genre='Rock', 2022=497, 2021=None, 2020=None, 2019=None, 2018=None, 2017=None, 2016=None, 2015=None),
 Row(Artist='Collective Soul', Music='December', Album='Collective Soul', Year=1995, Genre='Alternative Rock', 2022=496, 2021=None, 2020=None, 2019=None, 2018=431, 2017=443, 2016=None, 2015=None)]

In [ ]:
from pyspark.sql.functions import max
df.select(max("2022")).show(1)

+---------+
|max(2022)|
+---------+
|      500|
+---------+

In [ ]:
df.filter("2022 > 100").show(5)

+----------------+-------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|          Artist|              Music|               Album|Year|           Genre|2022|2021|2020|2019|2018|2017|2016|2015|
+----------------+-------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|The Black Crowes|             Remedy|The Southern Harm...|1992|   Southern Rock| 500|null| 324| 290| 132|  64|  36|null|
|            Asia|Only Time Will Tell|                Asia|1982|Progressive Rock| 499|null|null|null|null|null|null|null|
| Collective Soul|              Shine|Hints Allegations...|1993|Alternative Rock| 498|null|null| 419| 485| 403|null|null|
|      Billy Idol|      Sweet Sixteen|      Whiplash Smile|1986|            Rock| 497|null|null|null|null|null|null|null|
| Collective Soul|           December|     Collective Soul|1995|Alternative Rock| 496|null|null|null| 431| 443|null|null|
+----------------+-------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
only showing top 5 rows

In [ ]:
df.where("2022 > 100").show(5)

+----------------+-------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|          Artist|              Music|               Album|Year|           Genre|2022|2021|2020|2019|2018|2017|2016|2015|
+----------------+-------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|The Black Crowes|             Remedy|The Southern Harm...|1992|   Southern Rock| 500|null| 324| 290| 132|  64|  36|null|
|            Asia|Only Time Will Tell|                Asia|1982|Progressive Rock| 499|null|null|null|null|null|null|null|
| Collective Soul|              Shine|Hints Allegations...|1993|Alternative Rock| 498|null|null| 419| 485| 403|null|null|
|      Billy Idol|      Sweet Sixteen|      Whiplash Smile|1986|            Rock| 497|null|null|null|null|null|null|null|
| Collective Soul|           December|     Collective Soul|1995|Alternative Rock| 496|null|null|null| 431| 443|null|null|
+----------------+-------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
only showing top 5 rows

In [ ]:
df.sort("Genre").show(10)

+--------------------+--------------------+--------------------+----+-----------------+----+----+----+----+----+----+----+----+
|              Artist|               Music|               Album|Year|            Genre|2022|2021|2020|2019|2018|2017|2016|2015|
+--------------------+--------------------+--------------------+----+-----------------+----+----+----+----+----+----+----+----+
|        Janis Joplin|       Mercedes Benz|               Pearl|1972|       A Cappella|  37|  29| 278| 217| 184|null|  92|null|
|             Extreme|     More than words|Extreme II: Porno...|1990|    Acoustic Rock| 185|  85| 285| 399| 207|null| 339|null|
|    System of a Down|           Chop Suey|            Toxicity|2001|Alternative Metal| 374|null| 209| 471|null| 496|null|null|
|         Linkin Park|                Numb|             Meteora|2003| Alternative Rock| 453| 465| 377| 239| 367| 462|null|null|
|                  U2|                 Bad|The Unforgettable...|1984| Alternative Rock| 415|null|null| 183|  61|null|null|null|
|           Pearl Jam|           Last Kiss|No Boundaries: A ...|1999| Alternative Rock| 451| 227| 210|null|null|null|null|null|
|           Green Day|Boulevard of Brok...|      American Idiot|2004| Alternative Rock| 437|null|null|null|null|null|null|null|
|   The White Stripes|   Seven Nation Army|            Elephant|2003| Alternative Rock| 436|null|null| 269| 384|null|null|null|
|Echo and the Bunn...|     Lips Like Sugar|Echo and the Bunn...|1987| Alternative Rock| 474| 385| 327|null| 410| 358| 478| 152|
|     Collective Soul|            December|     Collective Soul|1995| Alternative Rock| 496|null|null|null| 431| 443|null|null|
+--------------------+--------------------+--------------------+----+-----------------+----+----+----+----+----+----+----+----+
only showing top 10 rows

In [ ]:
from pyspark.sql.functions import desc, asc, expr
#ordenando por ordem crescente 
df.orderBy(expr("Year asc")).show(10)

+--------------------+--------------------+--------------------+----+-------------+----+----+----+----+----+----+----+----+
|              Artist|               Music|               Album|Year|        Genre|2022|2021|2020|2019|2018|2017|2016|2015|
+--------------------+--------------------+--------------------+----+-------------+----+----+----+----+----+----+----+----+
|Bill Haley and Hi...|Rock Around the C...|Rock Around the C...|1955|Rock and Roll| 162| 305|null|null|null|null|null|null|
|       Elvis Presley|    Blue Suede Shoes|       Elvis Presley|1956|Rock and Roll|  24| 146|null| 366| 423|null| 126|null|
|       Elvis Presley|       Dont Be Cruel|              Single|1956|Rock and Roll| 246| 120|null|null|null|null|null|null|
|      Chubby Checker|    Lets Twist Again|              Single|1961|Rock and Roll|  88|null|null|null|null|null|null|null|
|      The Beach Boys|          Surfin USA|          Surfin USA|1963|    Surf Rock| 206|null| 414| 459| 282|null| 252|null|
|         The Beatles|     Twist and Shout|    Please Please Me|1963|Rock and Roll|  83|null|null|null|null|null|null|null|
|         The Beatles|       She Loves You|              Single|1963|   Merseybeat| 110|null|null|null| 140|null|null|null|
|         The Beatles|       All My Loving|    With the Beatles|1963|   Merseybeat| 240|null|null| 443| 213|null| 133|null|
|           The Kinks|   You Really Got Me|               Kinks|1964|Rock and Roll| 483| 299| 437| 292|null| 312| 225| 412|
|         The Beatles|    Cant Buy Me Love|   A Hard Days Night|1964|Rock and Roll| 170|null|null|null|null|null|null|null|
+--------------------+--------------------+--------------------+----+-------------+----+----+----+----+----+----+----+----+
only showing top 10 rows

In [ ]:
#estatisticas descritivas
df.describe().show()

+-------+-------------+------------+--------------------+------------------+----------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+
|summary|       Artist|       Music|               Album|              Year|     Genre|             2022|              2021|              2020|              2019|              2018|              2017|             2016|              2015|
+-------+-------------+------------+--------------------+------------------+----------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+
|  count|          500|         500|                 497|               500|       500|              500|               308|               239|               261|               260|               260|              226|               185|
|   mean|         null|        null|  32089.833333333332|          1983.146|      null|            250.5|215.67857142857142|194.10041841004184| 205.9655172413793| 205.2076923076923|202.76153846153846|202.4070796460177|192.85945945945946|
| stddev|         null|        null|   44996.59567308027|11.990505763182592|      null|144.4818327679989|143.10321983201945|137.75995426764703|141.67279052661033|143.99480879498728|142.23089085788044| 145.698326821363| 140.3496090115901|
|    min|4 Non Blondes|"""Heroes"""| With a Little He...|              1955|A Cappella|                1|                 1|                 1|                 1|                 1|                 1|                1|                 1|
|    max|    blink-182|      Zombie|You Could Have It...|              2019| Worldbeat|              500|               500|               499|               494|               496|               500|              498|               500|
+-------+-------------+------------+--------------------+------------------+----------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+

#Collect

In [ ]:
 #linhas do dataframe
 for i in df.collect():
   print(i)

In [ ]:
df.show(10)

+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|          Artist|               Music|               Album|Year|           Genre|2022|2021|2020|2019|2018|2017|2016|2015|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|The Black Crowes|              Remedy|The Southern Harm...|1992|   Southern Rock| 500|null| 324| 290| 132|  64|  36|null|
|            Asia| Only Time Will Tell|                Asia|1982|Progressive Rock| 499|null|null|null|null|null|null|null|
| Collective Soul|               Shine|Hints Allegations...|1993|Alternative Rock| 498|null|null| 419| 485| 403|null|null|
|      Billy Idol|       Sweet Sixteen|      Whiplash Smile|1986|            Rock| 497|null|null|null|null|null|null|null|
| Collective Soul|            December|     Collective Soul|1995|Alternative Rock| 496|null|null|null| 431| 443|null|null|
|     Duran Duran|       Save a prayer|                 Rio|1982|        Synthpop| 495| 466|null| 381| 292|null| 488|null|
|     Men at Work|          Down Under|   Business as Usual|1981|        New Wave| 494|null| 190| 172| 108| 451| 406| 167|
|    Brian Setzer|    Summertime Blues| La Bamba soundtrack|1987|   Rock and Roll| 493|null|null|null|null|null|null|null|
|    Simple Minds|Dont You Forget A...|The Breakfast Clu...|1985|        Pop Rock| 492|null|null| 293| 288| 437|null|null|
|Blue Oyster Cult|       Joan Crawford|Fire of Unknown O...|1981|       Hard Rock| 491|null| 174| 209|null| 311| 403|null|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
only showing top 10 rows

In [ ]:
#alteerar cada linha da coluna
df_Year = df.withColumn('Year', df['Year']+ 2)
df_Year.show(10)

+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|          Artist|               Music|               Album|Year|           Genre|2022|2021|2020|2019|2018|2017|2016|2015|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|The Black Crowes|              Remedy|The Southern Harm...|1994|   Southern Rock| 500|null| 324| 290| 132|  64|  36|null|
|            Asia| Only Time Will Tell|                Asia|1984|Progressive Rock| 499|null|null|null|null|null|null|null|
| Collective Soul|               Shine|Hints Allegations...|1995|Alternative Rock| 498|null|null| 419| 485| 403|null|null|
|      Billy Idol|       Sweet Sixteen|      Whiplash Smile|1988|            Rock| 497|null|null|null|null|null|null|null|
| Collective Soul|            December|     Collective Soul|1997|Alternative Rock| 496|null|null|null| 431| 443|null|null|
|     Duran Duran|       Save a prayer|                 Rio|1984|        Synthpop| 495| 466|null| 381| 292|null| 488|null|
|     Men at Work|          Down Under|   Business as Usual|1983|        New Wave| 494|null| 190| 172| 108| 451| 406| 167|
|    Brian Setzer|    Summertime Blues| La Bamba soundtrack|1989|   Rock and Roll| 493|null|null|null|null|null|null|null|
|    Simple Minds|Dont You Forget A...|The Breakfast Clu...|1987|        Pop Rock| 492|null|null| 293| 288| 437|null|null|
|Blue Oyster Cult|       Joan Crawford|Fire of Unknown O...|1983|       Hard Rock| 491|null| 174| 209|null| 311| 403|null|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
only showing top 10 rows

In [ ]:
df = df.withColumn('Nova Coluna', df['Year']+ 2)
df.show(10)

+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+-----------+
|          Artist|               Music|               Album|Year|           Genre|2022|2021|2020|2019|2018|2017|2016|2015|Nova Coluna|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+-----------+
|The Black Crowes|              Remedy|The Southern Harm...|1992|   Southern Rock| 500|null| 324| 290| 132|  64|  36|null|       1994|
|            Asia| Only Time Will Tell|                Asia|1982|Progressive Rock| 499|null|null|null|null|null|null|null|       1984|
| Collective Soul|               Shine|Hints Allegations...|1993|Alternative Rock| 498|null|null| 419| 485| 403|null|null|       1995|
|      Billy Idol|       Sweet Sixteen|      Whiplash Smile|1986|            Rock| 497|null|null|null|null|null|null|null|       1988|
| Collective Soul|            December|     Collective Soul|1995|Alternative Rock| 496|null|null|null| 431| 443|null|null|       1997|
|     Duran Duran|       Save a prayer|                 Rio|1982|        Synthpop| 495| 466|null| 381| 292|null| 488|null|       1984|
|     Men at Work|          Down Under|   Business as Usual|1981|        New Wave| 494|null| 190| 172| 108| 451| 406| 167|       1983|
|    Brian Setzer|    Summertime Blues| La Bamba soundtrack|1987|   Rock and Roll| 493|null|null|null|null|null|null|null|       1989|
|    Simple Minds|Dont You Forget A...|The Breakfast Clu...|1985|        Pop Rock| 492|null|null| 293| 288| 437|null|null|       1987|
|Blue Oyster Cult|       Joan Crawford|Fire of Unknown O...|1981|       Hard Rock| 491|null| 174| 209|null| 311| 403|null|       1983|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+-----------+
only showing top 10 rows

In [ ]:
df = df.drop('Nova Coluna')
df.show(10)

+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|          Artist|               Music|               Album|Year|           Genre|2022|2021|2020|2019|2018|2017|2016|2015|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|The Black Crowes|              Remedy|The Southern Harm...|1992|   Southern Rock| 500|null| 324| 290| 132|  64|  36|null|
|            Asia| Only Time Will Tell|                Asia|1982|Progressive Rock| 499|null|null|null|null|null|null|null|
| Collective Soul|               Shine|Hints Allegations...|1993|Alternative Rock| 498|null|null| 419| 485| 403|null|null|
|      Billy Idol|       Sweet Sixteen|      Whiplash Smile|1986|            Rock| 497|null|null|null|null|null|null|null|
| Collective Soul|            December|     Collective Soul|1995|Alternative Rock| 496|null|null|null| 431| 443|null|null|
|     Duran Duran|       Save a prayer|                 Rio|1982|        Synthpop| 495| 466|null| 381| 292|null| 488|null|
|     Men at Work|          Down Under|   Business as Usual|1981|        New Wave| 494|null| 190| 172| 108| 451| 406| 167|
|    Brian Setzer|    Summertime Blues| La Bamba soundtrack|1987|   Rock and Roll| 493|null|null|null|null|null|null|null|
|    Simple Minds|Dont You Forget A...|The Breakfast Clu...|1985|        Pop Rock| 492|null|null| 293| 288| 437|null|null|
|Blue Oyster Cult|       Joan Crawford|Fire of Unknown O...|1981|       Hard Rock| 491|null| 174| 209|null| 311| 403|null|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
only showing top 10 rows

In [ ]:
df.withColumnRenamed('Nova Coluna', 'New Column').show(10)

+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+----------+
|          Artist|               Music|               Album|Year|           Genre|2022|2021|2020|2019|2018|2017|2016|2015|New Column|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+----------+
|The Black Crowes|              Remedy|The Southern Harm...|1992|   Southern Rock| 500|null| 324| 290| 132|  64|  36|null|      1994|
|            Asia| Only Time Will Tell|                Asia|1982|Progressive Rock| 499|null|null|null|null|null|null|null|      1984|
| Collective Soul|               Shine|Hints Allegations...|1993|Alternative Rock| 498|null|null| 419| 485| 403|null|null|      1995|
|      Billy Idol|       Sweet Sixteen|      Whiplash Smile|1986|            Rock| 497|null|null|null|null|null|null|null|      1988|
| Collective Soul|            December|     Collective Soul|1995|Alternative Rock| 496|null|null|null| 431| 443|null|null|      1997|
|     Duran Duran|       Save a prayer|                 Rio|1982|        Synthpop| 495| 466|null| 381| 292|null| 488|null|      1984|
|     Men at Work|          Down Under|   Business as Usual|1981|        New Wave| 494|null| 190| 172| 108| 451| 406| 167|      1983|
|    Brian Setzer|    Summertime Blues| La Bamba soundtrack|1987|   Rock and Roll| 493|null|null|null|null|null|null|null|      1989|
|    Simple Minds|Dont You Forget A...|The Breakfast Clu...|1985|        Pop Rock| 492|null|null| 293| 288| 437|null|null|      1987|
|Blue Oyster Cult|       Joan Crawford|Fire of Unknown O...|1981|       Hard Rock| 491|null| 174| 209|null| 311| 403|null|      1983|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+----------+
only showing top 10 rows

#missing values

In [ ]:

teste = df.filter("2022 is not null")

In [ ]:
teste.printSchema()

root
 |-- Artist: string (nullable = true)
 |-- Music: string (nullable = true)
 |-- Album: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Genre: string (nullable = true)
 |-- 2022: integer (nullable = true)
 |-- 2021: integer (nullable = true)
 |-- 2020: integer (nullable = true)
 |-- 2019: integer (nullable = true)
 |-- 2018: integer (nullable = true)
 |-- 2017: integer (nullable = true)
 |-- 2016: integer (nullable = true)
 |-- 2015: integer (nullable = true)

In [ ]:
teste.count()

500

In [ ]:
df.na.fill()

#tratamento de txt

In [ ]:
from pyspark.sql.functions import rtrim, lit, ltrim, rpad, lpad, trim

In [ ]:
  help(rtrim)

Help on function rtrim in module pyspark.sql.functions:

rtrim(col: 'ColumnOrName') -> pyspark.sql.column.Column
    Trim the spaces from right end for the specified string value.

    .. versionadded:: 1.5

In [ ]:
df.show(5)

+----------------+-------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|          Artist|              Music|               Album|Year|           Genre|2022|2021|2020|2019|2018|2017|2016|2015|
+----------------+-------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|The Black Crowes|             Remedy|The Southern Harm...|1992|   Southern Rock| 500|null| 324| 290| 132|  64|  36|null|
|            Asia|Only Time Will Tell|                Asia|1982|Progressive Rock| 499|null|null|null|null|null|null|null|
| Collective Soul|              Shine|Hints Allegations...|1993|Alternative Rock| 498|null|null| 419| 485| 403|null|null|
|      Billy Idol|      Sweet Sixteen|      Whiplash Smile|1986|            Rock| 497|null|null|null|null|null|null|null|
| Collective Soul|           December|     Collective Soul|1995|Alternative Rock| 496|null|null|null| 431| 443|null|null|
+----------------+-------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
only showing top 5 rows

Estatistica descritiva basica


*   mean() - retorna o valor medio de cada grupo
*   max() - retorna o valor max ||
*   min() - 
*   Sum() - 
*   avg() -

In [ ]:
df3 = spark.read.format("csv")\
.option("header", "True")\
.option("inferSchema","True")\
.load("/content/drive/MyDrive/Datalake/landing/retail_2010_12_01.csv")

In [ ]:
df3.show(10)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 10 rows

In [ ]:
 # soma precos unitarios por pais
 df3.groupby('Country').sum('UnitPrice').show()

+--------------+------------------+
|       Country|    sum(UnitPrice)|
+--------------+------------------+
|       Germany| 93.82000000000002|
|        France|             55.29|
|          EIRE|133.64000000000001|
|        Norway|            102.67|
|     Australia|              73.9|
|United Kingdom|12428.080000000024|
|   Netherlands|             16.85|
+--------------+------------------+

In [ ]:
#conta a qtd de paises distintos
df3.groupBy("Country").count().show()

+--------------+-----+
|       Country|count|
+--------------+-----+
|       Germany|   29|
|        France|   20|
|          EIRE|   21|
|        Norway|   73|
|     Australia|   14|
|United Kingdom| 2949|
|   Netherlands|    2|
+--------------+-----+

In [ ]:
#valor minimo por grupo
df3.groupBy("Country").min("UnitPrice").show()

+--------------+--------------+
|       Country|min(UnitPrice)|
+--------------+--------------+
|       Germany|          0.42|
|        France|          0.42|
|          EIRE|          0.65|
|        Norway|          0.29|
|     Australia|          0.85|
|United Kingdom|           0.0|
|   Netherlands|          1.85|
+--------------+--------------+

In [ ]:
#valor max por grupo
df3.groupBy("Country").max("UnitPrice").show()

+--------------+--------------+
|       Country|max(UnitPrice)|
+--------------+--------------+
|       Germany|          18.0|
|        France|          18.0|
|          EIRE|          50.0|
|        Norway|          7.95|
|     Australia|           8.5|
|United Kingdom|        607.49|
|   Netherlands|          15.0|
+--------------+--------------+

In [ ]:
#valor medio por grupo
df3.groupBy("Country").avg("UnitPrice").show()

+--------------+------------------+
|       Country|    avg(UnitPrice)|
+--------------+------------------+
|       Germany| 3.235172413793104|
|        France|            2.7645|
|          EIRE|6.3638095238095245|
|        Norway|1.4064383561643836|
|     Australia| 5.278571428571429|
|United Kingdom|4.2143370634113335|
|   Netherlands|             8.425|
+--------------+------------------+

In [ ]:
#valor medio por grupo
df3.groupBy("Country").mean("UnitPrice").show()

+--------------+------------------+
|       Country|    avg(UnitPrice)|
+--------------+------------------+
|       Germany| 3.235172413793104|
|        France|            2.7645|
|          EIRE|6.3638095238095245|
|        Norway|1.4064383561643836|
|     Australia| 5.278571428571429|
|United Kingdom|4.2143370634113335|
|   Netherlands|             8.425|
+--------------+------------------+

In [ ]:
df3.groupBy("Country", "CustomerID") \
  .sum("UnitPrice") \
  .show(10)

+--------------+----------+------------------+
|       Country|CustomerID|    sum(UnitPrice)|
+--------------+----------+------------------+
|United Kingdom|   17420.0| 38.99999999999999|
|United Kingdom|   15922.0|              48.5|
|United Kingdom|   16250.0|             47.27|
|United Kingdom|   13065.0| 73.11000000000001|
|United Kingdom|   18074.0|62.150000000000006|
|United Kingdom|   16048.0|12.969999999999999|
|       Germany|   12472.0|             49.45|
|United Kingdom|   18085.0|              34.6|
|United Kingdom|   17905.0|109.90000000000003|
|United Kingdom|   17841.0|254.63999999999982|
+--------------+----------+------------------+
only showing top 10 rows

#### Trabalhando com datas
- Existem diversas funçoes em Pyspark para manipular datas e timestamp.
- Evite escrever suas próprias funçoes para isso.
- Algumas funcoes mais usadas:
    - current_day():
    - date_format(dateExpr,format):
    - to_date():
    - to_date(column, fmt):
    - add_months(Column, numMonths):
    - date_add(column, days):
    - date_sub(column, days):
    - datediff(end, start)
    - current_timestamp():
    - hour(column):

In [ ]:
 df3.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

In [ ]:
from pyspark.sql.functions import *

In [ ]:
df3.select(current_date().alias("current_date")).show(1)

+------------+
|current_date|
+------------+
|  2023-01-31|
+------------+
only showing top 1 row

In [ ]:
df3.show(10)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 10 rows

In [ ]:
# formata valores de data
df3.select(col("InvoiceDate"), \
          date_format(col("InvoiceDate"), "dd/MM/yyyy hh:mm:ss")\
          .alias("Formato Brasil")).show(10)

+-------------------+-------------------+
|        InvoiceDate|     Formato Brasil|
+-------------------+-------------------+
|2010-12-01 08:26:00|01/12/2010 08:26:00|
|2010-12-01 08:26:00|01/12/2010 08:26:00|
|2010-12-01 08:26:00|01/12/2010 08:26:00|
|2010-12-01 08:26:00|01/12/2010 08:26:00|
|2010-12-01 08:26:00|01/12/2010 08:26:00|
|2010-12-01 08:26:00|01/12/2010 08:26:00|
|2010-12-01 08:26:00|01/12/2010 08:26:00|
|2010-12-01 08:28:00|01/12/2010 08:28:00|
|2010-12-01 08:28:00|01/12/2010 08:28:00|
|2010-12-01 08:34:00|01/12/2010 08:34:00|
+-------------------+-------------------+
only showing top 10 rows

In [ ]:
# imprime a diferença entre duas datas
df3.select(col("InvoiceDate"),
    datediff(current_date(),col("InvoiceDate")).alias("datediff")  
  ).show(10)

+-------------------+--------+
|        InvoiceDate|datediff|
+-------------------+--------+
|2010-12-01 08:26:00|    4444|
|2010-12-01 08:26:00|    4444|
|2010-12-01 08:26:00|    4444|
|2010-12-01 08:26:00|    4444|
|2010-12-01 08:26:00|    4444|
|2010-12-01 08:26:00|    4444|
|2010-12-01 08:26:00|    4444|
|2010-12-01 08:28:00|    4444|
|2010-12-01 08:28:00|    4444|
|2010-12-01 08:34:00|    4444|
+-------------------+--------+
only showing top 10 rows

In [ ]:
df3.select(col("InvoiceDate"), 
    months_between(current_date(),col("InvoiceDate")).alias("months_between")  
  ).show(10)

+-------------------+--------------+
|        InvoiceDate|months_between|
+-------------------+--------------+
|2010-12-01 08:26:00|  145.95640681|
|2010-12-01 08:26:00|  145.95640681|
|2010-12-01 08:26:00|  145.95640681|
|2010-12-01 08:26:00|  145.95640681|
|2010-12-01 08:26:00|  145.95640681|
|2010-12-01 08:26:00|  145.95640681|
|2010-12-01 08:26:00|  145.95640681|
|2010-12-01 08:28:00|  145.95636201|
|2010-12-01 08:28:00|  145.95636201|
|2010-12-01 08:34:00|   145.9562276|
+-------------------+--------------+
only showing top 10 rows

In [ ]:
# Extrai ano, mës, próximo dia, dia da semana.
df3.select(col("InvoiceDate"), 
     year(col("InvoiceDate")).alias("year"), 
     month(col("InvoiceDate")).alias("month"), 
     next_day(col("InvoiceDate"),"Sunday").alias("next_day"), 
     weekofyear(col("InvoiceDate")).alias("weekofyear") 
  ).show(10)

+-------------------+----+-----+----------+----------+
|        InvoiceDate|year|month|  next_day|weekofyear|
+-------------------+----+-----+----------+----------+
|2010-12-01 08:26:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:26:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:26:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:26:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:26:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:26:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:26:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:28:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:28:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:34:00|2010|   12|2010-12-05|        48|
+-------------------+----+-----+----------+----------+
only showing top 10 rows

In [ ]:
# Dia da semana, dia do mës, dias do ano
df3.select(col("InvoiceDate"),  
     dayofweek(col("InvoiceDate")).alias("dayofweek"), 
     dayofmonth(col("InvoiceDate")).alias("dayofmonth"), 
     dayofyear(col("InvoiceDate")).alias("dayofyear"), 
  ).show(10)

+-------------------+---------+----------+---------+
|        InvoiceDate|dayofweek|dayofmonth|dayofyear|
+-------------------+---------+----------+---------+
|2010-12-01 08:26:00|        4|         1|      335|
|2010-12-01 08:26:00|        4|         1|      335|
|2010-12-01 08:26:00|        4|         1|      335|
|2010-12-01 08:26:00|        4|         1|      335|
|2010-12-01 08:26:00|        4|         1|      335|
|2010-12-01 08:26:00|        4|         1|      335|
|2010-12-01 08:26:00|        4|         1|      335|
|2010-12-01 08:28:00|        4|         1|      335|
|2010-12-01 08:28:00|        4|         1|      335|
|2010-12-01 08:34:00|        4|         1|      335|
+-------------------+---------+----------+---------+
only showing top 10 rows

In [ ]:
# imprime o timestamp atual
df3.select(current_timestamp().alias("current_timestamp")
  ).show(1,truncate=False)

+--------------------------+
|current_timestamp         |
+--------------------------+
|2023-01-31 22:11:28.799059|
+--------------------------+
only showing top 1 row

In [ ]:
# retorna hora, minuto e segundo
df3.select(col("InvoiceDate"), 
    hour(col("InvoiceDate")).alias("hour"), 
    minute(col("InvoiceDate")).alias("minute"),
    second(col("InvoiceDate")).alias("second") 
  ).show(10)

+-------------------+----+------+------+
|        InvoiceDate|hour|minute|second|
+-------------------+----+------+------+
|2010-12-01 08:26:00|   8|    26|     0|
|2010-12-01 08:26:00|   8|    26|     0|
|2010-12-01 08:26:00|   8|    26|     0|
|2010-12-01 08:26:00|   8|    26|     0|
|2010-12-01 08:26:00|   8|    26|     0|
|2010-12-01 08:26:00|   8|    26|     0|
|2010-12-01 08:26:00|   8|    26|     0|
|2010-12-01 08:28:00|   8|    28|     0|
|2010-12-01 08:28:00|   8|    28|     0|
|2010-12-01 08:34:00|   8|    34|     0|
+-------------------+----+------+------+
only showing top 10 rows

#bollean

In [ ]:
## Retorna linhas das colunas 'InvoiceNo' e 'Description' onde 'InvoiceNo' é diferente de 536365
from pyspark.sql.functions import col
df3.where(col("InvoiceNo") != 536365)\
.select("InvoiceNo", "Description")\
.show(10)

+---------+--------------------+
|InvoiceNo|         Description|
+---------+--------------------+
|   536366|HAND WARMER UNION...|
|   536366|HAND WARMER RED P...|
|   536367|ASSORTED COLOUR B...|
|   536367|POPPY'S PLAYHOUSE...|
|   536367|POPPY'S PLAYHOUSE...|
|   536367|FELTCRAFT PRINCES...|
|   536367|IVORY KNITTED MUG...|
|   536367|BOX OF 6 ASSORTED...|
|   536367|BOX OF VINTAGE JI...|
|   536367|BOX OF VINTAGE AL...|
+---------+--------------------+
only showing top 10 rows

In [ ]:
# usando o operador boleando com um predicado em uma expressão.
df3.where("InvoiceNo <> 536365").show(5)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 5 rows

In [ ]:
# usando o operador boleando com um predicado em uma expressão.
df3.where("InvoiceNo == 536365").show(5)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 5 rows

In [ ]:
# Entendendo a ordem dos operadores boleanos
from pyspark.sql.functions import instr
priceFilter = col("UnitPrice") > 600
descripFilter = instr(df3.Description, "POSTAGE") >= 1

In [ ]:
df3.where(df.StockCode.isin("DOT")).where(priceFilter | descripFilter).show()

NameError: ignored

In [ ]:
df.show(10)

+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|          Artist|               Music|               Album|Year|           Genre|2022|2021|2020|2019|2018|2017|2016|2015|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|The Black Crowes|              Remedy|The Southern Harm...|1992|   Southern Rock| 500|null| 324| 290| 132|  64|  36|null|
|            Asia| Only Time Will Tell|                Asia|1982|Progressive Rock| 499|null|null|null|null|null|null|null|
| Collective Soul|               Shine|Hints Allegations...|1993|Alternative Rock| 498|null|null| 419| 485| 403|null|null|
|      Billy Idol|       Sweet Sixteen|      Whiplash Smile|1986|            Rock| 497|null|null|null|null|null|null|null|
| Collective Soul|            December|     Collective Soul|1995|Alternative Rock| 496|null|null|null| 431| 443|null|null|
|     Duran Duran|       Save a prayer|                 Rio|1982|        Synthpop| 495| 466|null| 381| 292|null| 488|null|
|     Men at Work|          Down Under|   Business as Usual|1981|        New Wave| 494|null| 190| 172| 108| 451| 406| 167|
|    Brian Setzer|    Summertime Blues| La Bamba soundtrack|1987|   Rock and Roll| 493|null|null|null|null|null|null|null|
|    Simple Minds|Dont You Forget A...|The Breakfast Clu...|1985|        Pop Rock| 492|null|null| 293| 288| 437|null|null|
|Blue Oyster Cult|       Joan Crawford|Fire of Unknown O...|1981|       Hard Rock| 491|null| 174| 209|null| 311| 403|null|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
only showing top 10 rows

In [ ]:
df.year.show(10)

AttributeError: ignored

In [ ]:
df.filter(df.Year > 400).show(10)

+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|          Artist|               Music|               Album|Year|           Genre|2022|2021|2020|2019|2018|2017|2016|2015|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
|The Black Crowes|              Remedy|The Southern Harm...|1992|   Southern Rock| 500|null| 324| 290| 132|  64|  36|null|
|            Asia| Only Time Will Tell|                Asia|1982|Progressive Rock| 499|null|null|null|null|null|null|null|
| Collective Soul|               Shine|Hints Allegations...|1993|Alternative Rock| 498|null|null| 419| 485| 403|null|null|
|      Billy Idol|       Sweet Sixteen|      Whiplash Smile|1986|            Rock| 497|null|null|null|null|null|null|null|
| Collective Soul|            December|     Collective Soul|1995|Alternative Rock| 496|null|null|null| 431| 443|null|null|
|     Duran Duran|       Save a prayer|                 Rio|1982|        Synthpop| 495| 466|null| 381| 292|null| 488|null|
|     Men at Work|          Down Under|   Business as Usual|1981|        New Wave| 494|null| 190| 172| 108| 451| 406| 167|
|    Brian Setzer|    Summertime Blues| La Bamba soundtrack|1987|   Rock and Roll| 493|null|null|null|null|null|null|null|
|    Simple Minds|Dont You Forget A...|The Breakfast Clu...|1985|        Pop Rock| 492|null|null| 293| 288| 437|null|null|
|Blue Oyster Cult|       Joan Crawford|Fire of Unknown O...|1981|       Hard Rock| 491|null| 174| 209|null| 311| 403|null|
+----------------+--------------------+--------------------+----+----------------+----+----+----+----+----+----+----+----+
only showing top 10 rows

In [ ]:
df.createOrReplaceTempView("tableA")

In [ ]:
spark.sql("SELECT count(*) from tableA").show()

+--------+
|count(1)|
+--------+
|     500|
+--------+

#https://sparkbyexamples.com/